<form action="/create" method="post" style="margin: 50px">
    <h4>Create serviceman</h4>
    <div class="input-field">
        <input placeholder="Name" type="text" name="title">
        <input placeholder="Rank" type="text" name="rank">
        <input placeholder="Year of birth" type="text" name="year">
        <input placeholder="Unit" type="text" name="unit">
        <input placeholder="Position" type="text" name="position">
    </div>

    <button type="submit" class="btn">Create</button>

</form>

