<form style="margin: 30px " action="/editOneUnit/{{unit}}" method="post">
    <h4>Редагування підрозділа</h4>

    <label><b>Підрозділ: </b></label>
    <input value="{{unit}}" name="unit"/>

    <button type="submit" class="btn">Save</button>
</form>