<form style="margin: 30px " action="/editOnePosition/{{pos}}" method="post">
    <h4>Редагування посади</h4>

      <label><b>Посада: </b></label>
    <input value="{{pos}}" name="position"/>

    <button type="submit" class="btn">Save</button>
</form>