<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Приклад роботи файлфів</title>
</head>
<body>
<h1>Статичний файл відправлено!</h1>
<form action="/test" method="post">
    <label for="name"> Введіть своє ім'я: </label>
    <input type="text" id="name" name="username">
    <label for="surname"> Введіть своє прізвище: </label>
    <input type="text" id="surname" name="userSurname">
    <button>Ok</button>
</form>
</body>
</html>